/* main styles */

::-webkit-scrollbar {
	display: none;
}

html {
	height: 100%;
	width: 100%;
}

body, table, tr, td, textarea {
	font-family: 'Segoe UI', 'Segoe UI Web Regular', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
	font-size: 12px;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

body {
	margin: 0px;
	background-color: white;
	background-repeat: repeat-y;
	overflow: hidden;
	background-color: #000000;
	background-image: -webkit-radial-gradient(85% 145%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: -moz-radial-gradient(85% 145%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: -o-radial-gradient(85% 145%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: -ms-radial-gradient(85% 145%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: radial-gradient(85% 145%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
	text-align: left;
	outline-style: none;
}

td, th {
	padding: 2px 2px;
	margin: 0px;
}

th {
	white-space: nowrap;
	height: 18px;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

p {
	color: white;
}

h2 {
	border-color: rgba(255,255,255,0.1);
}

img {
	border: none;
	vertical-align: middle;
}

fieldset {
	border: none;
	padding: 0px;
	margin: 0px;
}

hr.menu {
	border: 0;
	height: 1px;
	background: #93CEFF;
	background-image: linear-gradient(to right, #333, #93CEFF, #333);
}

.reindex_methods span {
	font-size: 9px;
}

/* links */

a, a:active, a:visited {
	color: #93CEFF;
	text-decoration: none;
	font-size: 12px;
}

a:hover {
	text-decoration: none;
	color: white;
}

th .fa {
	margin-top: -5px;
	position: absolute;
	right: 3px;
	top: 50%;
}

pre {
	color: #f7f7f7;
}

#main {
	display: none;
	position: relative;
	z-index: 0;
	padding-right: 5px;
}

#main > br {
	display: none;
}

#main > table {
	width: 100%;
}

#navigation_right {
	overflow-y: auto !important;
	padding-left: 5px;
}

input, select {
	padding: 0.4em 0.4em 0.4em 0.4em;
	background: transparent;
}

input[type="checkbox"]:not([name^="multiselect"]),

label {
	cursor: pointer;
	white-space: nowrap;
}

.glyph_tab-console:before {
	content: "\f185";
}

.text_tab-console {
	display: none;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label:before {
	border: 1px solid #7f83a2;
	content: "\00a0";
	display: inline-block;
	font: 12px/1em sans-serif;
	height: 12px;
	margin: 0.25em 0.45em;
	width: 12px;
	background: transparent;
}

input[type="checkbox"]:checked + label:before {
	background: #3C8A3C;
	color: #FFFFFF;
	content: "\2713";
	text-align: center;
}

input[type="checkbox"]:checked + label,

label {
	white-space: nowrap;
}

label > span {
	color: #7f83a2;
}

label.ui-state-active > span {
	color: #FFFFFF;
}

label.ui-state-active {
	border: 1px solid #7f83a2;
	background: transparent !important;
}

label.ui-state-hover > span {
	color: #FFFFFF;
}

.nowrap {
	white-space: nowrap;
}

.top {
	vertical-align: top;
}

.right {
	text-align: right !important;
}

.left {
	text-align: left;
}

.center {
	text-align: center !important;
}

.usermenudown {
	background: transparent url('./../../../images/bullet_arrow_down.png') no-repeat center right;
}

.usermenuup {
	background: transparent url('./../../../images/bullet_arrow_up.png') no-repeat center right;
}

.user {
	padding-right: 16px;
	font-weight: bold;
	cursor: pointer;
}

.filter {
	position: relative;
	left: -20px;
	margin-right: -10px;
	font-size: 13px !important;
}

.badpassword {
	padding: 4px;
	color: red;
	font-size: 1.5em !important;
	vertical-align: bottom;
}

.goodpassword {
	padding: 4px;
	color: green;
	font-size: 1.5em !important;
	vertical-align: bottom;
}

.associated {
	color: green;
	font-weight: bold;
}

.notAssociated {
	color: red;
	font-weight: bold;
}

.disabled_row span, .disabled_row td, .disabled_row a {
	color: grey;
}

.disabled {
	color: grey;
	font-weight: bold;
}

.idle {
	color: green;
	font-weight: bold;
}

.running {
	color: red;
	font-weight: bold;
}

.newObject {
	color: blue;
}

.updateObject {
	color: grey;
}

.unmetDependency {
	color: red;
}

.foundDependency {
	color: navy;
}

.success {
	color: green;
}

.failed {
	color: red;
}

.accessGranted {
	color: green;
	font-weight: bold;
}

.accessGrantedItem {
	color: green;
}

.accessRestricted {
	color: red;
	font-weight: bold;
}

.accessRestrictedItem {
	color: red;
}

.graphDrillDown {
	vertical-align: top;
	align-self: left;
	z-index: 4;
	padding: 3px;
	height: 100%;
	width: 22px;
	min-width: 22px;
}

.iconWrapper {
	display: none;
}

.deleteIcon {
	width: 10px;
	height: 10px;
	cursor: pointer;
	padding: 2px;
	border: none;
}

.drillDown {
	cursor: pointer;
}

.monoSpace {
	font-size: 9px;
	font-family: monospace;
}

.utilityPick {
	width: 200px;
}

.itemlist {
	max-height: 200px;
	overflow-y: auto;
}

.realms {
	width: 20%;
	vertical-align: top;
	white-space: nowrap;
}

.spikeKillMenuItem {
	display: block;
	width: 100%:;
}

.deviceUp {
	color: #3C8A3C !important;
}

.deviceDown {
	color: #ff0000 !important;
}

.deviceUnknown {
	color: #0000ff !important;
}

.deviceDisabled {
	color: #a1a1a1 !important;
}

.deviceRecovering {
	color: yellow !important;
}

.deviceError {
	color: #ffaa00 !important;
}

.deviceDownMuted {
	color: #ffe333 !important;
}

.deviceThreshold {
	color: #ffa833 !important;
}

.deviceUnmonitored {
	color: rgba(250, 253, 158, 0.8) !important;
}

.deviceWarning {
	color: #aa7807 !important;
}

.deviceAlert {
	color: #660000 !important;
}

.deviceUpBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: rgba(148, 179, 107, 0.8);
}

.deviceDownBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #ff0000;
}

.deviceUnknownBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #0000ff;
}

.deviceDisabledBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #a1a1a1;
}

.deviceRecoveringBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #ff8f1e;
}

.deviceErrorBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #750F7D;
}

.deviceDownMutedBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #ffe333;
}

.deviceThresholdBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #ffa833;
}

.deviceUnmonitoredBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: rgba(250, 253, 158, 0.8);
}

.deviceWarningBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #aa7807;
}

.deviceAlertBg {
	color: rgba(22,22,22,0.8);
	font-size: 10pt;
	font-weight: bold;
	background-color: #660000;
}

.beingGraphed {
	color: green;
}

.notBeingGraphed {
	color: #484848;
}

.submenuoptions {
	border-width: 0px 1px 1px 1px;
	border-color: #3a3b3c;
	border-style: solid;
	position: absolute;
	top: 45px;
	list-style: none;
	text-align: left;
	margin: 0px;
	padding: 10px 0px 10px 0px;
	background: #100000;
}

.submenuoptions li a {
	display: block;
	padding: 4px 15px;
	font-size: 12px;
	font-weight: 500;
	color: #93CEFF;
	text-decoration: none;
}

.submenuoptions li a:hover {
	display: block;
	color: white;
	background: #3C8A3C;
}

.menuoptions {
	background: #100000;
	border-width: 0px 1px 1px 1px;
	border-color: #3a3b3c;
	border-style: solid;
	display: block;
	float: right;
	position: absolute;
	right: 0px;
	top: 45px;
	list-style: none;
	text-align: right;
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

.menuoptions li a {
	display: block;
	padding: 4px 15px;
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #93CEFF;
	text-decoration: none;
}

.menuoptions li a:hover {
	display: block;
	color: white;
	background: #3C8A3C;
}

.import_label {
	opacity: 1;
}

.import_button {
	display: none;
	opacity: 0;
}

.import_text {
	opacity: 1;
}

.color-icon {
	background-image: none !important;
}

.emailtest {
	cursor: pointer;
	display: block;
	float: right;
	text-align: right;
	padding: 0px 5px 0px 0px;
}

.reloadquery {
	cursor: pointer;
	padding: 2px;
	vertical-align: middle;
	color: #32CD32;
	font-weight: bold;
	font-size: 14px;
}

.verbosequery {
	cursor: pointer;
	padding: 2px;
	vertical-align: middle;
	color: orange;
	font-size: 14px;
}

.deletequery {
	cursor: pointer;
	padding: 2px;
	vertical-align: middle;
	color: red !important;
	font-size: 14px;
}

.deletequery:hover {
	color: red !important;
	text-decoration: none;
	padding: 2px;
	vertical-align: middle;
}

.odd {
	border: none;
}

.odd.tableRow {
	color: #9d9d9d;
	#background: none repeat scroll 0 0 #fbfdff;
}

.even {
	border: none;
}

.even.tableRow {
	color: #9d9d9d;
	#background: none repeat scroll 0 0 #FFFFFF;
}

.even-alternate {
	#background: none repeat scroll 0 0 #E7E9F2;
	#background-color: #E7E9F2;
	#box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.even-alternate.tableRow {
	color: #9d9d9d;
	#background: none repeat scroll 0 0 #FFFFFF;
}

.tableRow {
	padding: 4px 5px !important;
}

.tableRowGraph td {
	padding: 3px;
	vertical-align: top;
}

.saveRow {
	border-color: rgba(255,255,255,0.2);
	text-align: right;
	padding: 4px;
}

.treeArea, .treeItemsArea {
	width: 25%;
	border: 1px solid #006400;
	vertical-align: top;
}

.linkMarker {
	display: none;
}

.filteredValue {
	color: #F8D93D;
}

.graphItemGr1Alt1 {
	background-color: #EEEEEE;
}

.graphItemGr1Alt2 {
	background-color: #EEEEEE;
}

.graphItemGr1Cust {
	background-color: #D5D5D5;
}

.graphItemGr2Alt1 {
	background-color: #E7E9F2;
}

.graphItemGr2Alt2 {
	background-color: #E7E9F2;
}

.graphItemGr1Cust {
	background-color: #D2D6E7;
}

.graphItemAdd {
	background-color: #00438c;
}

.graphItemDel {
	background-color: #C63636;
}

.graphItemHR {
	color: #FF0000;
}

.hostUp {
	font-size: 10px;
	font-weight: normal;
	font-family: monospace;
}

.hostDown {
	color: #ff0000;
	font-size: 10px;
	font-weight: normal;
	font-family: monospace;
}

.cactiPageHead {
	z-index: 10;
	height: 45px;
	width: 100%;
	padding: 0px;
	border-color: rgba(255,255,255,0.2);
	*/
	box-shadow: inset 0 1px 0 rgba(255,255,255,.09);
	*/
	background-color: #000000;
	*/
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3a3b3c), to(#000000));
	background-image: -webkit-linear-gradient(top, #3a3b3c 0%, #000000 100%);
	background-image: -moz-linear-gradient(top, #3a3b3c 0%, #000000 100%);
	background-image: linear-gradient(to bottom, #3a3b3c 0%, #000000 100%);
	background-repeat: repeat-x;
}

.cactiPageHead  div {
	left: 0;
	top: 0;
}

.cactiPageHead #tabs {
	overflow-x: auto;
	overflow-y: hidden;
}

.cactiGraphPageHeadBackdrop {
	padding-bottom: 0px;
	float: right;
	position: fixed;
}

.cactiPageBottom {
	height: 30px;
	width: 100%;
	border-bottom: 1px solid grey;
	background-color: transparent;
	float: right;
	text-align: right;
	line-height: 30px;
	position: fixed;
	left: 0px;
	bottom: 0px;
}

.cactiPageBottom a {
	color: #9d9d9d;
	padding: 0px 8px;
	text-decoration: none;
	font-size: 16px;
	outline-style: none;
}

.cactiConsolePageHeadBackdrop {
	padding-bottom: 0px;
	float: right;
	position: fixed;
}

.navigation {
	overflow: hidden;
}

.debug td {
	padding: 3px;
	margin: 0px;
}

.breadCrumbBar {
	display: none !important;
}

.cactiContent {
	clear: both;
	width: 100%;
	vertical-align: top;
}

.cactiTreeNavigationArea {
	overflow-y: auto;
	overflow-x: hidden;
	margin-left: 0px;
	margin-right: 0px;
	height: 100%;
	float: left;
	display: none;
	color: lightgrey;
}

.cactiTreeNavigationArea a {
	padding-right: 18px !important;
}

.cactiTreeNavigationArea div:first-child {
	padding-left: 5px;
}

.cactiTreeSearch {
	padding-top: 5px;
}

.jstree {
	position: relative;
	display: block;
}

.cactiContentNavigationArea {
	overflow: hidden;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	vertical-align: top;
	left: 0px;
}

.cactiConsoleNavigationArea {
	overflow-y: auto !important;
	width: 167px;
	height: 100% !important;
	float: left;
}

.cactiLogo {
	background: #efefef url('./images/cacti_logo.svg') no-repeat 30px;
	display: block;
	cursor: pointer;
	padding-bottom: 140px;
	margin-bottom: 60px;
	width: 156px;
	margin-top: -6px;
	margin-left: 2px;
	margin-right: 2px;
}

.cactiVersion {
	padding-left: 10px;
	color: rgba(255,255,255,0.2);
	float: left;
}

.loginLeft, .logoutLeft {
	display: none;
}

.loginCenter, .logoutCenter {
	position: absolute;
	background-color: transparent;
	width: 300px;
	height: 200px;
	top: 45%;
	left: 50%;
	padding: 10px 15px;
	margin: -100px 0 0 -150px;
}

.cactiLoginLogo, .cactiLogoutLogo {
	display: none;
}

.loginArea, .logoutArea {
	color: #9d9d9d;
}

.cactiLoginTable td {
	padding-bottom: 6px;
	padding-right: 6px;
}

.loginErrors, .logoutErrors {
	color: red;
	min-height: 15px;
}

legend {
	color: #93CEFF;
	font-size: 22px;
	font-weight: bold;
}

.loginRight, .logoutRight {
	display: none;
	width: 33%;
	float: right;
}

.loginBody, .logoutBody {
	height: 100% !important;
	width: 100% !important;
}

.loginBody input, .logoutBody input {
	background-color: transparent;
	color: #969BA3;
	border: 1px solid rgba(255,255,255,0.2);
}

.versionInfo {
	position: fixed;
	left: 5px;
	bottom: 5px;
	color: rgba(255,255,255,0.2);
}

.actionsDropdown {
	vertical-align: middle;
	padding: 3px;
	width: 100%;
	text-align: right;
	display: table;
}

.actionsDropdown div {
	display: table-row;
	margin-top: auto;
	margin-bottom: auto;
}

.actionsDropdownButton {
	vertical-align: top;
	float: right;
	margin-top: 0px;
	margin-left: 3px;
	margin-right: 6px;
	display: table-cell;
}

.actionsDropdownArrow {
	margin-top: auto;
	margin-bottom: auto;
	float: left !important;
	padding: 3px;
}

.cactiTooltipHint {
	cursor: pointer;
	padding: 5px;
	font-size: 12px !important;
}

.spikekillParent {
	padding: 0px !important;
}

.spikekillData, .spikekillData td {
	#border: 1px solid #999;
}

.spikekillNote {
	#padding: 1px;
}

.spikekillMenu {
	color: #93CEFF;
	background: #100000;
	border: 1px solid #3a3b3c;
	;
	margin: 0px;
	padding: 10px 0px 10px 0px !important;
	line-height: 1.5em;
}

.spikekillMenu li {
	vertical-align: middle;
}

.spikekillMenu i {
	text-align: center;
	width: 2.0em;
	display: inline-block;
}

.spikekillMenu i:empty {
	width: 2.0em;
	display: inline-block;
}

.loginPanel {
	padding: 4px 0px;
}

.treeTable {
	width: 100%;
}

.treeTable td {
	color: #e5e1e1;
}

.treeArea {
	vertical-align: top;
}

.graphWrapper {
	position: relative;
}

.cactiGraphContentArea {
	height: 100vh;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	border-left: 1px solid #000000;
}

.cactiGraphContentArea span[align="center"] {
	color: #9d9d9d;
}

.cactiGraphContentArea .tableHeader > td {
	color: #FFAA00;
	text-align: left;
	padding: 3px 5px;
	width: 100%;
	font-size: 13px;
	font-weight: 600;
	text-transform: none;
	border-color: rgba(255,255,255,0.2);
	background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.1));
	background-repeat: repeat-x;
}

.cactiGraphContentAreaPreview {
	height: 100vh;
	overflow-y: auto !important;
}

.cactiGraphContentAreaPreview span[align="center"] {
	color: #9d9d9d;
}

.cactiGraphContentAreaPreview .cactitable {
	background: none !important;
}

.cactiConsoleContentArea {
	height: 100vh;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	border-left: 1px solid #000000;
}

#graph_view_preview2 table.cactiTable {
	background: none !important;
}

#graph_view_tree_content2 table.cactiTable {
	background: none !important;
}

#graph_view_preview2 .tableRow {
	background: none !important;
}

#graph_view_tree_content2 .tableRow {
	background: none !important;
}

.hyperLink {
	color: #93CEFF;
	font-size: 12px;
	padding: 3px;
	cursor: pointer;
	text-decoration: none;
}

.iconLink {
}

.iconLink img {
	padding-bottom: 2px;
}

.linkEditMain, .linkEditMain:visited, .linkEditMain:active {
	color: #93CEFF;
	text-decoration: none;
	font-size: 12px;
	padding: 3px;
	white-space: nowrap;
	cursor: pointer;
}

.linkEditMain:hover {
	color: white;
	white-space: nowrap;
	text-decoration: none;
}

.linkOverDark, .linkOverDark:visited, .linkOverDark:active {
	color: #93CEFF;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
}

.linkOverDark:hover {
	color: white;
	text-decoration: none;
}

.linkCopyDark, .linkCopyDark:visited, .linkCopyDark:active {
	color: #93CEFF;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
}

.linkCopyDark:hover {
	color: white;
	text-decoration: none;
}

/* text styles */

.textError {
	font-size: 12px;
	color: #FFAA00;
}

.textWarning {
	font-size: 12px;
	color: #ee7600 !important;
}

.textInfo {
	font-size: 14px;
	color: #9d9d9d;
}

.textInfo.left {
	color: #ffaa00;
}

.textHeader {
	font-size: 12px;
	font-weight: bold;
}

.textOverflow {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

.bold {
	font-weight: bold;
}

.remover {
	cursor: pointer;
}

.messageContainer {
	text-align: center;
	position: absolute;
	left: 30%;
	right: 30%;
	margin-left: auto;
	margin-right: auto;
	z-index: 4;
}

.messageBox {
	padding: 1px;
	margin-top: 2px;
	border-radius: 3px;
	background-color: #04335B;
	border: 1px solid #04335B;
	position: relative;
	z-index: 4;
}

.textHeaderDark {
	font-size: 12px;
	font-weight: bold;
	color: white;
}

.templateHeader {
	background: rgba(0,0,0,0.55);
}

.templateHeader td {
	padding: 3px;
}

.textSubHeaderDark, .textSubHeaderDark:visited {
	font-size: 11px;
	outline-style: none;
	margin: 2px 0px 3px 5px;
}

.cactiBorderWall {
	border-width: 1px;
	border-color: rgba(255,255,255,0.2);
	border-style: solid;
}

.cactiTable {
	color: #9d9d9d;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-color: rgba(255,255,255,0.2);
	padding-bottom: 10px;
}

table.cactiTable {
	color: lightgrey;
}

.cactiInstallLoaderSpinnerTheme {
	border-top-color: rgba(255,255,255,0.2) !important;
}

.cactiTableTitleRow {
	color: #FFAA00;
	float: left;
	text-align: left;
	padding: 3px 0px;
	display: table-column;
	width: 100%;
	font-size: 13px;
	font-weight: 600;
	border-color: rgba(255,255,255,0.2);
	background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.1));
	background-repeat: repeat-x;
}

.cactiTableTitle {
	color: #FFAA00;
	float: left;
	text-align: left;
	padding: 3px 0px;
	display: table-column;
	width: 70%;
	font-size: 13px;
	font-weight: 600;
	border-color: rgba(255,255,255,0.2);
	background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.1));
	background-repeat: repeat-x;
}

.cactiTableButton {
	float: right;
	padding: 3px 0px;
	display: table-column;
	text-align: right;
	font-size: 13px;
	width: 30%;
	border-color: rgba(255,255,255,0.2);
	background-image: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0));
	background-repeat: repeat-x;
	white-space: nowrap;
}

.cactiTableButton.debug {
	background: transparent;
	height: 1em;
}

.cactiTableButton span, .cactiTableTitle span {
	padding: 0px;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
}

.cactiTableButton i {
	padding: 0px 8px;
}

.cactiTableButton span:last-child, .cactiTableTitle span:last-child {
	padding: 0px 5px;
}

.cactiDebugTable {
	width: 100%;
}

.filterTable {
	white-space: nowrap;
}

.filterTable td:first-child {
	width: 55px;
	min-width: 55px;
}

.filterTable td {
	padding: 2px;
	white-space: nowrap;
}

.filterTable label {
	vertical-align: 10%;
}

.formRow {
	display: table;
	width: 100%;
	padding-left: 15px;
	line-height: 30px;
}

.formColumn {
	float: left;
	display: table-column;
}

.formColumnLeft {
	float: left;
	display: table-column;
	width: 45%;
	text-align: left;
}

.formColumnRight {
	float: left;
	display: table-column;
	width: 45%;
	text-align: left;
}

.formData {
	display: inline-block;
	float: left;
}

.formFieldName {
	color: #e5e1e1;
	display: inline-block;
	float: left;
	text-align: left;
	padding-left: 5px;
	padding-right: 30px;
}

.formFieldDescription {
	color: #969BA3;
	float: left;
	text-align: left;
	font-weight: normal;
	line-height: 14px;
	padding-left: 1px;
}

.formTooltip {
	display: inline-block;
}

.formHeader {
	cursor: pointer;
	float: left;
	width: 100%;
	text-align: left;
	line-height: 25px;
	text-transform: none;
	padding: 0px 0px 0px 5px;
	color: #93CEFF;
	font-size: 13px;
	font-weight: 600;
}

.formHeader:hover {
	color: white;
}

.formHeader.collapsible {
}

.formHeader.collapsed {
}

.formHeaderAnchor {
	float: right;
	padding-right: 12px;
}

.hostInfoHeader {
	width: 100%;
}

@media screen and (max-width: 640px) {
	.formRow {
		display: table;
		width: 100%;
		line-height: 30px;
	}

	.formColumn {
		float: left;
		display: table-row;
	}

	.formColumnLeft {
		float: left;
		display: table-row;
		width: 92%;
	}

	.formColumnRight {
		float: left;
		display: table-row;
		width: 100%;
	}

	.formFieldName {
		color: snow;
		float: left;
		text-align: left;
		padding-left: 3px;
		padding-right: 3px;
	}

	.formData {
		float: left;
	}

	.hostInfoHeader {
		overflow: hidden;
	}

	.queryAdd, .templateAdd, .navBar, #ping_results {
		display: none;
	}

	/* switch to horizontal scrolling */
	.tabs {
		overflow-y: hidden;
		overflow-x: scroll;
		white-space: nowrap;
	}

	.tabs ul {
		display: inline-flex;
	}

	/* dropdown menus */
	.menuoptions, .submenuoptions {
		width: 100%;
		left: 0 !important;
		border-left: none !important;
		border-right: none !important;
	}
}

.graphItem {
	background: rgba(255,255,255,0.05);
}

.graphItemAlternate {
	background: rgba(255,255,255,0.05);
}

.break {
	height: 0px;
}

.next {
	padding-right: 6px;
	padding-left: 6px;
}

.previous {
	padding-right: 6px;
	padding-left: 6px;
}

.cactiNavBarTop {
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

.cactiNavBarBottom {
	background-color: #00438c;
}

.tableHeader {
	display: table-row;
	color: #9d9d9d;
	font-weight: 700;
}

.tableHeader th.sortable {
	cursor: pointer !important;
	line-height: 10px;
}

.tableHeader th {
	border-color: #333;
	color: #9d9d9d;
	font-weight: 600;
	vertical-align: middle;
	text-align: left;
	font-size: 11px;
	text-transform: none;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.tableHeader th div {
	display: block;
	padding-right: 8px;
	font-size: 11px;
}

.tableHeaderColumnSelected {
	color: white !important;
	background: none;
	box-shadow: inset 0 0 20px 0 rgba(0,0,0,.5);
	border-bottom: 3px solid #3C8A3C !important;
}

.tableHeaderColumnHover {
	color: white !important;
}

.tableSubHeaderColumn, .tableSubHeaderColumnCenter, .tableSubHeaderColumnRight {
	cursor: pointer;
	text-align: left;
	padding: 3px;
	outline-style: none;
}

.tableSubHeaderColumnCenter {
	text-align: center;
}

.tableSubHeaderColumnRight {
	text-align: right;
}

.tablesorter-headerRow {
}

.tablesorter-headerRow th {
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.tablesorter-headerDesc, .tablesorter-headerAsc {
	color: white !important;
	background: none !important;
	border-bottom: 3px solid #3C8A3C !important;
}

.tablesorter-header-inner {
	padding: 2px;
}

.tablesorter-headerUnSorted  div.textSubHeaderDark {
	color: #9d9d9d;
}

.graphSubHeaderColumn {
	color: #white;
	font-size: 12px;
	vertical-align: middle;
	text-align: left;
	padding: 3px;
}

.tableSubHeaderCheckbox {
	max-width: 20px;
	width: 20px;
}

.image_table {
	width: 100%;
}

.tableConfirmation {
	width: 100%;
	text-align: center;
	background-color: #f5f5f5;
	border: 1px solid #aaaaaa;
}

.navBar {
	min-width: 30%;
	white-space: nowrap;
}

.navBarNavigation {
	color: #9D9D9D;
	width: 100%;
	text-align: center;
	line-height: 20px;
	height: 25px;
	margin-left: auto;
	margin-right: auto;
}

.navBarNavigation a {
	color: #9D9D9D;
}

.navBarNavigation a:hover {
	color: #FFFFFF;
}

.navBarNavigationPrevious {
	text-align: left;
	cursor: pointer;
	font-weight: bold;
	float: left;
	white-space: nowrap;
	display: block;
	width: 10%;
	height: 20px;
	vertical-align: middle;
	border-top: 1px solid rgba(25,255,255,0.1);
}

.navBarNavigationCenter {
	text-align: center;
	display: block;
	float: left;
	white-space: nowrap;
	width: 80%;
	height: 20px;
	margin-top: auto;
	border-top: 1px solid rgba(25,255,255,0.1);
}

.navBarNavigationCenter span {
	vertical-align: middle;
}

.navBarNavigationNext {
	text-align: right;
	cursor: pointer;
	font-weight: bold;
	float: right;
	white-space: nowrap;
	display: block;
	width: 10%;
	#padding: 2px 0px;
	height: 20px;
	vertical-align: middle;
	border-top: 1px solid rgba(25,255,255,0.1);
}

.navBarNavigationNone {
	text-align: center;
	display: block;
	float: left;
	white-space: nowrap;
	width: 100%;
	padding: 2px 0px;
	margin-top: auto;
}

.navBarNavigationNext i.ui-icon {
	margin-top: -16px;
	margin-right: -16px;
	top: 50%;
}

.navBarNavigationPrevious i.ui-icon {
	margin-bottom: -16px;
	margin-left: -16px;
	top: 50%;
}

.textArea {
	font-size: 12px;
}

.textArea a {
	font-size: 1.1em;
}

.popupBox {
	#z-index: 2;
	position: absolute;
	padding: 0px;
	display: none;
	overflow: auto;
	color: white;
	background-color: #e5e5e5;
	border: 1px solid #e5e5e5;
}

.installArea {
	background-color: white;
	padding: 10px;
}

.textAreaNotes {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.textEditTitle {
	font-weight: bold;
}

.textMenuHeader {
	color: white;
	background-color: #9C9C9C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.textMenuItem {
	background-color: #efefef;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.textMenuSubItem {
	background-color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.textMenuItemSelected {
	background-color: #E1E1E1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.txtErrorTextBox {
	border: 2px solid #ff0000 !important;
}

.txtErrorText {
	color: #FF0000;
	font-size: 12px;
	font-weight: bold;
}

/* tabs */
.tabSpacer {
	width: 0px;
	padding-right: 2px;
	padding-left: 0px;
}

.tabsMarginLeft {
	padding-left: 2px;
}

.tabSelected {
	background-color: silver;
	white-space: nowrap;
	width: 1%;
}

.tabNotSelected {
	background-color: #dfdfdf;
	white-space: nowrap;
	width: 1%;
}

.deleteMarker {
	color: red;
	vertical-align: middle;
	text-decoration: none !important;
}

.deleteMarker:hover {
	text-decoration: none !important;
}

.deleteMarkerDisabled {
	color: #9d9d9d !important;
}

.moveArrow {
	color: #00438C !important;
	height: 14px !important;
	font-size: 14px !important;
	vertical-align: middle;
	text-decoration: none !important;
}

.moveArrow:hover {
	text-decoration: none !important;
}

.moveArrowNone {
	padding-left: 14px;
}

.action, .shiftArrow, .calendar {
	cursor: pointer;
	padding: 2px;
}

td.tab {
	border-top: 1px solid #999;
	border-right: 1px solid #666;
	border-left: 1px solid #999;
	padding-left: 3px;
	padding-right: 3px;
	min-width: 0%;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
}

.cactiGraphHeaderBackground {
	display: none;
}

div#gtabs {
	padding-bottom: 0px;
	vertical-align: bottom;
	display: none !important;
	position: fixed;
	right: 5px;
	top: 5px;
	height: 30px;
}

.ellipsis {
	width: 25px !important;
	display: none;
}

.usertabs {
	float: right !important;
	width: 64px !important;
	overflow: hidden;
}

.maintabs {
	line-height: 30px;
	float: left;
	overflow: hidden;
	height: 32px;
}

.maintabs a {
	color: #93CEFF;
	float: left !important;
	padding: 5px 8px;
	text-decoration: none;
	font-size: 18px;
	vertical-align: bottom;
	outline-style: none;
	border-bottom: 3px solid transparent;
}

.usertabs nav ul {
	float: right;
	padding-right: 5px;
}

.usertabs a {
	padding: 5px 6px;
}

.maintabs-has-submenu a {
	padding: 5px 4px 5px 9px;
}

.maintabs a:hover {
	font-size: 18px;
	color: white;
	background: none;
}

.maintabs a.selected {
	color: white;
	font-size: 18px;
	background: none;
	box-shadow: inset 0 0 20px 0 rgba(0,0,0,.5);
	border-bottom: 3px solid #3C8A3C;
}

.maintabs nav {
	white-space: nowrap;
}

.maintabs li {
	bottom: -1px;
	float: left;
}

.maintabs-submenu {
	display: none;
}

#menu-tab-graphs.maintabs-submenu, .maintabs-submenu-ellipsis a {
	display: block;
}

.maintabs-submenu a {
	padding: 5px 8px 5px 0px;
}

.maintabs-submenu i {
	font-size: 18px;
}

div.submenu {
	display: none;
	position: absolute;
	border: 2px solid #2d4ca8;
	top: 0;
	left: 0;
	z-index: 200;
}

div.submenu span {
	display: block;
}

.tabs {
	float: left;
	width: 100%;
	line-height: 20px;
	border-color: rgba(255,255,255,0.2);
	background: transparent;
}

.tabs a {
	color: #93CEFF;
	float: left !important;
	padding: 5px 8px;
	font-size: 13px;
	vertical-align: bottom;
	text-decoration: none;
	outline-style: none;
	border-bottom: 3px solid transparent;
}

.tabs a:hover {
	color: white;
}

.tabs nav a.selected {
	color: white;
	background: none;
	box-shadow: inset 0 0 20px 0 rgba(0,0,0,.5);
	border-bottom: 3px solid #3C8A3C;
}

.tabs li {
	float: left;
	margin: 0 3px 0 0;
	position: relative;
}

.tabs li.current a, .maintabs li.current a {
	background: #fff;
	border-bottom: 1px solid #fff;
}

.tabs li.current a:hover, .maintabs li.current a:hover {
	background: #fff;
	border-bottom: 1px solid #fff;
}

.tabs nav {
	border-bottom: 1px solid #000;
}

.tabs nav:after, .maintabs nav:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.tabs ul, .maintabs ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Navigation Area */
#nav {
	float: left;
	font-size: 12px;
	margin: 0px 0;
}

#nav li a {
	display: block;
	padding: 2px 4px 2px 15px;
	color: #93CEFF;
	text-decoration: none;
}

#nav li a.active {
	font-weight: 600;
	font-size: 14px;
}

#nav li a.active:not(.selected) {
	color: #93CEFF !important;
}

#nav li a.active, #nav li a.active:hover {
	color: white !important;
}

th {
	border-right: 1px groove #9d9d9d;
}

th:last-child {
	border-right: none !important;
}

tr.selected {
	background: rgba(0,0,0,0.4) !important;
	border-left: 3px solid #bababa !important;
	color: #bababa !important;
}

tr.selected a.linkEditMain:visited {
	color: #FFFFFF;
}

tr:not(.selectable) a.linkEditMain:hover {
	color: orange;
}

tr.selectable {
	border-left: 3px solid transparent;
}

tr.selectable:hover:not(.selected) {
	background: rgba(0,0,0,0.2);
}

tr.selectable td {
	padding: 3px;
}

tr.selected a {
	color: #FFFFFF;
}

#nav li ul li a.selected {
	color: white;
}

#nav li ul {
	display: none;
	padding: 0;
	border-left: 3px solid #93CEFF;
}

#nav li ul li a {
	padding: 2px 4px 2px 35px;
	outline-style: none;
}

#nav li ul li a:hover {
	color: white;
}

#nav li ul li {
	list-style: none;
	padding: 0;
}

ul#nav {
	list-style: none;
	padding: 0;
	width: 100%;
}

.clogError {
	color: #FF3932;
}

.clogWarning {
	color: #EACC00;
}

.clogSQL {
	color: #6DC8FE;
}

.clogDebug {
	color: #C4FD3D;
}

.clogStats {
	color: #96E78A;
}

.clogLimit {
	color: #EACC00;
}

.clogStats td, .clogDebug td, .clogSQL td, .clogWarning td, .clogError td, .clogLimit td {
	padding: 3px;
}

@media print {
	.noprint {
		display: none;
	}
}

.ui-tooltip {
	max-width: none !important;
}

.ui-tooltip-content div.header {
	color: #93CEFF;
}

.ui-tooltip-content div.content {
	font-size: 10px;
	color: #9d9d9d;
}

.ui-tooltip-content {
	max-width: 500px !important;
	overflow: auto !important;
	opacity: 0.95;
	border: transparent;
}

div.preformatted {
	font-family: monospace;
	white-space: pre;
}

ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
	color: #9D9D9D;
	float: left;
	padding: 0px 2px 2px 2px;
	text-decoration: none;
	margin: 0px 1px;
}

ul.pagination li span {
	float: left;
	padding: 0px 0px;
	text-decoration: none;
	margin: 0px 1px;
}

ul.pagination li a.active {
	color: white;
	background: none;
	box-shadow: inset 0 0 20px 0 rgba(0,0,0,.5);
	border-bottom: 1px solid #3C8A3C;
}

ul.pagination li a:hover:not(.active) {
	color: #FFFFFF;
}

tr#realtime td:first-child {
	height: 68px;
}

.logEmergency {
	background-color: rgba(255, 6, 6, 0.4);
	text-align: center;
	width: 12.5%;
	color: rgb(211, 211, 211);
}

.logCritical {
	background-color: rgba(242, 23, 33, 0.2);
	text-align: center;
	width: 12.5%;
	color: rgb(211, 211, 211);
}

.logAlert {
	background-color: rgba(242, 25, 36, 0.2);
	text-align: center;
	width: 12.5%;
	color: rgb(211, 211, 211);
}

.logWarning {
	background-color: rgba(255, 122, 48, 0.2);
	text-align: center;
	width: 12.5%;
	color: rgb(211, 211, 211);
}

.logError {
	background-color: rgba(251, 74, 20, 0.2);
	text-align: center;
	width: 12.5%;
	color: rgb(211, 211, 211);
}

.logNotice {
	background-color: rgba(250, 253, 158, 0.2);
	text-align: center;
	width: 12.5%;
	color: rgb(211, 211, 211);
}

.logInfo {
	background-color: rgba(204, 255, 204, 0.2);
	text-align: center;
	width: 12.5%;
	color: rgb(211, 211, 211);
}

.logDebug {
	background-color: rgba(205, 207, 196, 0.2);
	text-align: center;
	width: 12.5%;
	color: rgb(211, 211, 211);
}

.darkblue {
	background: #2d4ca8;
 /* Old browsers */;
}

.ui-corner-all {
	border-radius: 0px !important;
	-moz-border-radius-bottomright: 0px !important;
	-moz-border-radius-bottomleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-moz-border-radius-topleft: 0px !important;
}

.menuitem {
	white-space: nowrap;
}

.menu_glyph {
	font-size: 12px;
	width: 20px;
	vertical-align: 30%;
}

.submenu_glyph {
	width: 20px;
	vertical-align: 10%;
}

.menuitem span {
	vertical-align: 20%;
}

.dropdownMenu {
	font-family: Verdana,Arial,sans-serif;
}

.hostInfoHeader {
	color: lightgray;
}

.ui-widget-header {
	border: 1px solid transparent;
	background: transparent;
	color: #93CEFF;
	font-weight: bold;
}

.ui-multiselect-header span {
	color: #93CEFF;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: transparent;
	color: rgb(150, 155, 163);
	border: 1px solid rgba(255,255,255,0.2);
}

.ui-widget-header .ui-icon {
	background-image: url(images/ui-icons_888888_256x240.png);
}

.ui-icon, .ui-widget-content .ui-icon {
	background-image: url(images/ui-icons_888888_256x240.png);
}

.ui-multiselect-filter {
	font-size: 11px;
	font-weight: normal;
}

.ui-multiselect-all, .ui-multiselect-none {
	font-size: 11px;
	font-weight: normal;
}

.ui-multiselect-all:hover, .ui-multiselect-none:hover {
	text-decoration: none;
}

.ui-multiselect-header {
	margin-bottom: 1px;
}

.ui-multiselect-header ul li {
	padding-top: 4px;
}

.ui-multiselect-filter input {
	border: 1px solid rgba(255,255,255,0.2);
	padding-left: 3px;
	margin-left: 3px;
}

.ui-multiselect-checkboxes label {
	color: #93CEFF;
	padding: 1px 1px;
}

.ui-multiselect-checkboxes .ui-state-hover {
	background: #3C8A3C;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: 1px solid rgba(255,255,255,0.2);
	background: transparent;
	font-weight: normal;
	color: #555555;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
	border: 1px solid rgba(255,255,255,0.2);
	background: transparent;
	font-weight: normal;
	color: #93CEFF;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: transparent;
	color: #93CEFF;
	border: 1px solid rgba(255,255,255,0.2);
}

.ui-autocomplete {
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-select-text input {
	width: 180px;
	margin: 0;
	padding: 0;
	background: transparent;
}

.ui-multiselect {
	padding: 0.4em 1em;
	text-align: left;
	line-height: initial;
}

.ui-multiselect .ui-icon {
	margin-top: 0px;
}

.ui-widget {
	font-size: unset;
	background: transparent;
	color: #CECECE;
}

.ui-checkboxradio-icon {
	display: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid rgba(255,255,255,0.2);
	background: transparent;
	font-weight: normal;
	color: #969BA3;
}

.ui-widget-content {
	border: 1px solid rgba(255,255,255,0.2);
	background: #000000;
	color: #969BA3;
}

.ui-widget.ui-widget-content {
	border: 1px solid rgba(255,255,255,0.2);
}

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
	background: #3C8A3C;
	margin: -1px;
}

.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	cursor: pointer;
	min-height: 0;
	list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
	color: #93CEFF;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-bottom-left-radius: 0px;
}

.cactiInstallSqlResults {
	color: #fff;
}

.cactiInstallSectionTitle {
	color: #fff;
	background-repeat: repeat-y;
	overflow: hidden;
	background-color: #ffffff;
	background-image: -webkit-radial-gradient(85% 145%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: -moz-radial-gradient(85% 145%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: -o-radial-gradient(85% 145%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: -ms-radial-gradient(85% 145%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: radial-gradient(85% 145%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
}

/* New Checkbox Stuff */
.checkboxSwitch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 24px;
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: middle;
}

.checkboxSwitch input {
	display: none;
}

.checkboxSlider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(147, 206, 255, 0.2);
	background-image: -webkit-linear-gradient(left, rgba(147, 206, 255, 0.2) 0%, rgba(147, 206, 255, 0.2) 60%, black 100%) !important;
	background-image: -moz-linear-gradient(left, rgba(147, 206, 255, 0.2) 0%, rgba(147, 206, 255, 0.2) 60%, black 100%) !important;
	background-image: -o-linear-gradient(left, rgba(147, 206, 255, 0.2) 0%, rgba(147, 206, 255, 0.2) 60%, black 100%) !important;
	background-image: -ms-linear-gradient(left, rgba(147, 206, 255, 0.2) 0%, rgba(147, 206, 255, 0.2) 60%, black 100%) !important;
	background-image: linear-gradient(left, rgba(147, 206, 255, 0.2) 0%, rgba(147, 206, 255, 0.2) 60%, black 100%) !important;
	-webkit-transition: .4s;
	transition: .4s;
	border: 1px solid #7F83A2;
}

.checkboxSlider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	background-image: url('./images/cacti_logo.svg');
	background-repeat: no-repeat;
	background-size: 7px;
	background-position: center;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .checkboxSlider {
	background-color: rgba(255, 170, 0, 0.5) !important;
	background-image: -webkit-linear-gradient(to right, black, rgba(255, 170, 0, 0.5)) !important;
	background-image: -moz-linear-gradient(to right, black, rgba(255, 170, 0, 0.5)) !important;
	background-image: -o-linear-gradient(to right, black, rgba(255, 170, 0, 0.5)) !important;
	background-image: -ms-linear-gradient(to right, black, rgba(255, 170, 0, 0.5)) !important;
	background-image: linear-gradient(to right, black, rgba(255, 170, 0, 0.5)) !important;
}

input:focus + .checkboxSlider {
	box-shadow: 0 0 1px #2196F3;
}

input:disabled + .checkboxSlider {
	cursor: not-allowed;
}

input:checked + .checkboxSlider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded.checkboxSliders */
.checkboxSlider.checkboxRound {
	border-radius: 24px;
}

.checkboxSlider.checkboxRound:before {
	border-radius: 50%;
}

.right {
	text-align: right;
}

.radioSwitch {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	height: 24px;
	width: 24px;
	vertical-align: middle;
}

.radioSwitch input {
	display: none;
}

.radioSlider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 24px;
	height: 24px;
	background-color: #FFAA00;
	-webkit-transition: .4s;
	transition: .4s;
	border: 1px solid #7f83a2;
	background-image: -webkit-radial-gradient(50% 50%, ellipse cover, #000000 1%, #04335b 35%, #000000 65%);
	background-image: -moz-radial-gradient(50% 50%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: -o-radial-gradient(50% 50%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: -ms-radial-gradient(50% 50%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: radial-gradient(50% 50%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
}

.radioSlider:before {
	display: none;
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	background-image: url('./images/cacti_logo.svg');
	background-repeat: no-repeat;
	background-size: 7px;
	background-position: center;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .radioSlider {
	background-image: -webkit-radial-gradient(50% 50%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: -moz-radial-gradient(50% 50%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: -o-radial-gradient(50% 50%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: -ms-radial-gradient(50% 50%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
	background-image: radial-gradient(50% 50%, ellipse cover, #ffa254 1%, #04335b 35%, #000000 65%);
}

input:focus + .radioSlider {
	box-shadow: 0 0 1px #2196F3;
}

input:disabled + .radioSlider {
	cursor: not-allowed;
}

input:checked + .radioSlider:before {
	display: block;
}

/* Rounded.radioSliders */
.radioSlider.radioRound {
	border-radius: 24px;
}

.radioSlider.radioRound:before {
	border-radius: 50%;
}

.radioLabelWanted {
	display: inline-block;
	margin-left: 5px;
	margin-right: 10px;
	vertical-align: middle;
	line-height: 20px;
}

td.center > table {
	margin: 0 auto;
}

.ui-menu-item-wrapper {
	white-space: nowrap;
}
